html{
    height: 100%;
    width: 100%;
}
*{ 
    background-color: $primary;
    color: white;
    
}
body{
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.t1{
    font-size: 3rem;
    margin: 1rem auto auto auto;
    text-align: center;
    font-family: $font_1;
}
.btn-light{
    margin: 1rem 1rem 1rem 35%;
}
.btn-dark{
    margin-right: 1rem;
}
