@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;700;1000;2000&family=Open+Sans&display=swap');
$primary: #202428;
$secondary: rgb(255, 196, 0);
$font_1: 'Kumbh Sans', sans-serif;